In [1]:
# EE559 Homework #4
# Author: Creed Reilly
# USC ID: 6721694310
# Date: 06/29/2021

In [3]:
# Import Data Packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Question 7

In [5]:
# Part A - Download the Data

# Data located in '../data'

In [91]:
# Part B - Segregate training and test data

bending1 = pd.DataFrame(); # 0
bending2 = pd.DataFrame(); # 1
cycling = pd.DataFrame();  # 2
lying = pd.DataFrame();    # 3
sitting = pd.DataFrame();  # 4
standing = pd.DataFrame(); # 5
walking = pd.DataFrame();  # 6
testData = pd.DataFrame(); # 7

trainingData = np.zeros([480,7]);

#trainingData[:,:,0] = np.array(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]))

# READ IN TRAINING DATA

# Read in bending1 data
counter = np.arange(5)+3; # keep the 1st 2 sets as test sets
for i in counter: 
    title = '../data/bending1/dataset' + str(i) + '.csv'; # create title for reading in file
    bending1 = bending1.append(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]),ignore_index=True)
    trainingData = np.dstack((trainingData,np.array(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]))))
    
# Read in bending2 data
counter = np.arange(4)+3; # keep the 1st 2 sets as test sets
for i in counter: 
    title = '../data/bending2/dataset' + str(i) + '.csv'; # create title for reading in file
    bending2 = bending2.append(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]),ignore_index=True)
    trainingData = np.dstack((trainingData,np.array(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]))))
    
    
# Read in cycling, lying, sitting, standing, walking data
counter = np.arange(12)+4; # keep the 1st 3 sets as test sets
for i in counter: 
    title = '../data/cycling/dataset' + str(i) + '.csv'; # create title for reading in file
    cycling = cycling.append(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]),ignore_index=True)
    trainingData = np.dstack((trainingData,np.array(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]))))
    
    title = '../data/lying/dataset' + str(i) + '.csv'; # create title for reading in file
    lying = lying.append(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]),ignore_index=True)
    trainingData = np.dstack((trainingData,np.array(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]))))

    title = '../data/sitting/dataset' + str(i) + '.csv'; # create title for reading in file
    sitting = sitting.append(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]),ignore_index=True)
    trainingData = np.dstack((trainingData,np.array(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]))))

    title = '../data/standing/dataset' + str(i) + '.csv'; # create title for reading in file
    standing = standing.append(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]),ignore_index=True)
    trainingData = np.dstack((trainingData,np.array(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]))))

    title = '../data/walking/dataset' + str(i) + '.csv'; # create title for reading in file
    walking = walking.append(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]),ignore_index=True)
    trainingData = np.dstack((trainingData,np.array(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]))))


# READ IN TEST DATA

# Read in bending1 data
counter = np.arange(2)+1;
for i in counter: 
    title = '../data/bending1/dataset' + str(i) + '.csv'; # create title for reading in file
    testData = testData.append(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]),ignore_index=True)

# Read in bending2 data
counter = np.arange(2)+1;
for i in counter: 
    title = '../data/bending2/dataset' + str(i) + '.csv'; # create title for reading in file
    testData = testData.append(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]),ignore_index=True)
    
# Read in cycling, lying, sitting, standing, walking data
counter = np.arange(3)+1;
for i in counter: 
    title = '../data/cycling/dataset' + str(i) + '.csv'; # create title for reading in file
    testData = testData.append(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]),ignore_index=True)
    
    title = '../data/lying/dataset' + str(i) + '.csv'; # create title for reading in file
    testData = testData.append(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]),ignore_index=True)
    
    title = '../data/sitting/dataset' + str(i) + '.csv'; # create title for reading in file
    testData = testData.append(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]),ignore_index=True)
    
    title = '../data/standing/dataset' + str(i) + '.csv'; # create title for reading in file
    testData = testData.append(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]),ignore_index=True)
    
    title = '../data/walking/dataset' + str(i) + '.csv'; # create title for reading in file
    testData = testData.append(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]),ignore_index=True)

In [92]:
# Put training data into a single np.array

trainingData.shape

(480, 7, 6)

In [60]:
# Part C - Feature Extraction

# Part Ci: List time-domain features used in time-series classification. They include:
#     mean, minimum, maximum, std dev, skewness, kurtosis

# Part Cii: Extract minimum, maximum, mean, median, std dev, 1st quartile, 3rd quartile, for all 6 time series
n = 88; # number of instances
featureExtraction = np.zeros([n,7*6+1])

for i in np.arange(n):
    featureExtraction[i,0] = i+1; # define instance number

In [61]:
featureExtraction[:,0]

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
       27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38., 39.,
       40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51., 52.,
       53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63., 64., 65.,
       66., 67., 68., 69., 70., 71., 72., 73., 74., 75., 76., 77., 78.,
       79., 80., 81., 82., 83., 84., 85., 86., 87., 88.])

In [84]:
bending1

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,42.00,0.71,21.25,0.43,30.00,0.00
1,250,41.50,0.50,20.25,1.48,31.25,1.09
2,500,41.50,0.50,14.25,1.92,33.00,0.00
3,750,40.75,0.83,15.75,0.43,33.00,0.00
4,1000,40.00,0.71,20.00,2.74,32.75,0.43
...,...,...,...,...,...,...,...
2395,118750,44.25,0.83,16.25,1.30,24.00,0.00
2396,119000,44.00,0.71,11.00,1.00,24.00,0.00
2397,119250,44.25,0.43,10.25,1.30,22.75,0.83
2398,119500,43.75,0.43,7.33,2.87,21.50,0.50
2399,119750,44.50,0.50,3.00,1.22,21.50,0.50

In [68]:
a = np.array([[1,2],[3,4]])
b = np.array([[7,8],[9,0]])

In [89]:
np.array(pd.read_csv(title,skiprows = 4, usecols = [0,1,2,3,4,5,6]))

array([[0.0000e+00, 4.2000e+01, 7.1000e-01, ..., 4.3000e-01, 3.0000e+01,
        0.0000e+00],
       [2.5000e+02, 4.1500e+01, 5.0000e-01, ..., 1.4800e+00, 3.1250e+01,
        1.0900e+00],
       [5.0000e+02, 4.1500e+01, 5.0000e-01, ..., 1.9200e+00, 3.3000e+01,
        0.0000e+00],
       ...,
       [1.1925e+05, 4.4330e+01, 9.4000e-01, ..., 0.0000e+00, 3.6330e+01,
        4.7000e-01],
       [1.1950e+05, 4.5250e+01, 4.3000e-01, ..., 1.7900e+00, 3.6000e+01,
        0.0000e+00],
       [1.1975e+05, 4.7250e+01, 8.3000e-01, ..., 4.3000e-01, 3.5250e+01,
        1.3000e+00]])

In [73]:
c = np.dstack((c,b))

In [79]:
c[:,:,0]

array([[1, 2],
       [3, 4]])